body{
  background-color: #f7f7f7;
}

#chart{
  margin: 25px auto;
  width: 600px;
  position: relative;
}

.labels {
  font-family: sans-serif;
  font-size: 12px;
  text-anchor: middle;
}